---
import BaseLayout from "../layouts/BaseLayout.astro";

const posts = await Astro.glob("./posts/*.md"); // returns an array of posts from location specified
---

<BaseLayout title="All Posts">
  {
    posts.slice(0, 10).map((post) => (
      <section>
        <h1>
          <a class="title" href={post.url}>
            {post.frontmatter.title}
          </a>
        </h1>
        <span class="tag-list ">
          <small>{new Date(post.frontmatter.date).toLocaleDateString()}</small>

          {post.frontmatter.tags.map((tag) => (
            <span class="tag">{tag}</span>
          ))}
        </span>
        <h2>{post.frontmatter.description}</h2>
        <a class="read-more" href={post.url}>
          Read more
        </a>
      </section>
    ))
  }
</BaseLayout>

<style>

</style>
