---
import TagChip from "./TagChip.astro";
const { posts } = Astro.props;
---

{
    posts.slice(0, 20).map((post) => (
        <section>
            <h1>
                <a class="title" href={post.url}>
                    {post.frontmatter.title}
                </a>
            </h1>
            <span class="tag-list ">
                <small>
                    {new Date(post.frontmatter.date).toLocaleDateString()}

                    {post.frontmatter.tags.map((tag) => (
                        <TagChip nameOfTag={tag} selected="" />
                    ))}
                </small>
            </span>

            <h2>{post.frontmatter.description}</h2>
            <a class="read-more" href={post.url}>
                Read more
            </a>
        </section>
    ))
}

<style>

</style>
